titlebar {
  -moz-appearance: none;
    background-color: -moz-dialog;
}

statusbarpanel {
  -moz-appearance: none;
  border: 0px;
  padding: 0px;
    background-color: -moz-dialog;
}
statusbar resizer {
        display: none;
  -moz-appearance: none;
} 
    
#nch-undocked {
    padding: 0px;
    background: none;
    background-color: -moz-dialog;
	margin:0px;    
	border-style: none;
    border: 1px solid ButtonShadow !important;   
}    

#hbox-close {
    background-color: -moz-dialog;
}

.closebut {
  list-style-image:  url("chrome://nagioschecker/skin/close.png");
  -moz-appearance: none;
  -moz-image-region: rect(0px, 64px, 16px, 48px);
  padding: 4px 2px;
  border: none !important;
}

.closebut:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.closebut:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

/************************************************************/

#nch-move-titlebar {
    cursor: move; 
}

#nch-move-minimode {
  -moz-image-region: rect(0px, 4px,  16px, 0px);
  list-style-image: url("chrome://nagioschecker/skin/dndhandle.png"); 
  padding-left: 3px !important;
  padding-right: 0px !important;
  margin: 0 !important;
  border: none !important; 
  -moz-appearance: none !important;
  min-width: 4px;
}
